.small-screen-nav-trigger {
  z-index: 1000;
}

.small-screen-nav-overlay {
  --navbar-height: calc(
    2 * var(--kobber-component-wiki-navbar-container-padding-block) +
      var(--kobber-component-button-container-size-height)
  );

  position: absolute;
  inset: 0;
  top: var(--navbar-height);
  max-height: calc(100vh - var(--navbar-height));

  display: flex;
  flex-direction: column;
  background-color: var(--kobber-component-wiki-navbar-background-color-main);
  z-index: 900;
  overflow-y: auto;
}

.small-screen-nav-overlay-back-button {
  opacity: 0.8;
  padding-block: var(--kobber-component-wiki-navbar-container-padding-block);
}

.small-screen-nav-overlay-login-button {
  padding-block: 1rem;
}

.small-screen-nav-overlay-link-list-outer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-block: var(--kobber-component-wiki-navbar-container-padding-block);
  background-color: var(--kobber-component-wiki-navbar-background-color-main);
}

.small-screen-nav-overlay-link-list-inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.small-screen-nav-overlay-link-list-inner-item {
  display: block;
}
