@import url("./reset.css");
@import url("@gyldendal/kobber-base/themes/default/tokens.css");
@import url("@gyldendal/kobber-base/themes/dark/tokens.css");
@import url("./pp-mori.css");
@import url("./lyon.css");
@import url("./inter.css");

/* prevents FOUC */
:not(:defined) {
  display: none;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  border: 0 solid transparent;
}

:root {
  --todo-kobber-layout-gap-16-32: clamp(1rem, calc(0.75rem + 1.25vw), 2rem);
  --todo-kobber-layout-gap-16-44: clamp(1rem, calc(0.56rem + 2.19vw), 2.75rem);
  --todo-kobber-layout-gap-16-72: clamp(1rem, calc(0.13rem + 4.38vw), 4.5rem);
  --todo-kobber-layout-max-width: 80rem;
  --todo-kobber-layout-min-width: 20rem;
}

html {
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  --highlight-color: inherit;
  color: #481125;
  background-color: #fdf9f9;

  --top-nav-height: calc(2 * 1rem + 2.5rem);
}

em {
  color: var(--highlight-color);
  font-style: normal;
}

.small-screen-nav-content {
  display: none;
}

.open .small-screen-nav-content {
  display: block;
}

.overflow-hidden {
  overflow: hidden;
}

kobber-heading + kobber-ingress {
  display: block;
  margin-top: 1rem;
}

.feature-box-block {
  margin-bottom: var(--feature-box-block-margin-bottom);
}
