@import url("./reset.css");
@import url("@gyldendal/kobber-base/themes/default/tokens.css");
@import url("@gyldendal/kobber-base/themes/dark/tokens.css");
@import url("./pp-mori.css");
@import url("./lyon.css");

@layer base {
  /* prevents FOUC */
  :not(:defined) {
    display: none;
  }

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    border: 0 solid transparent;
  }

  html {
    scrollbar-gutter: stable;
  }

  body {
    margin: 0;
    --highlight-color: inherit;
    color: var(--kobber-component-body-text-color-base);
    background-color: var(--kobber-component-docs-navbar-background-color-main);

    --top-nav-height: calc(
      2 * var(--kobber-component-docs-navbar-container-padding-block) +
        var(--kobber-component-button-container-size-height)
    );
  }

  em {
    color: var(--highlight-color);
    font-style: normal;
  }

  .small-screen-nav-content {
    display: none;
  }

  .open .small-screen-nav-content {
    display: block;
  }

  .overflow-hidden {
    overflow: hidden;
  }

  p:last-of-type {
    margin-bottom: 4.5em;
  }
}
