.page-spacing {
  max-width: var(--kobber-template-page-width-max);
  min-width: var(--kobber-template-page-width-min);
  margin-inline: auto;
  padding-inline: var(--kobber-layout-gap-16-32);
}

.page-layout {
  display: grid;
  gap: var(--kobber-layout-gap-16-32);
  grid-template-columns: 280px auto;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
