.rich-text {
  & h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  div,
  p,
  img,
  ul {
    margin-top: 1rem;
  }

  & h2 {
    margin-top: 2rem;
  }

  & h1,
  h1 + h2 {
    margin-top: 0;
  }

  ul {
    list-style: unset;
    padding-left: 1rem;

    li {
      margin-top: 0.5rem;
    }
  }
}

.image {
  overflow: hidden;
  border-radius: 1rem;
  max-width: 100%;
}

.inline {
  display: inline-block;
  width: 48%;
  margin-right: 2%;
  vertical-align: top;
}

.icon-wrapper {
  svg {
    display: inline;
    margin-right: 0.5rem;
    border-radius: 1rem;
    filter: invert(1);
  }

  &.positive {
    svg {
      background-color: #fc7cb1;
    }
  }

  &.negative {
    svg {
      background-color: #31c78e;
    }
  }
}

.icon {
  width: 1rem;
  height: 1rem;
}
