.wrapper {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 4rem;
  color: var(--kobber-groups-links-color-bright);

  @media (width >= 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
