.wrapper {
  position: sticky;
  top: 0;
  inset-inline: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1000;
  background-color: #fdf9f9;
  padding-block: 1rem;
}

.bar {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto 1fr;
  width: 100%;
  gap: 1rem;
  white-space: nowrap;
}

.inner-container {
  display: flex;
  justify-content: end;
  gap: 1rem;

  @media (width <= 768px) {
    display: none;
  }
}

.inner-container-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.inner-container-small-screen {
  display: none;
  justify-self: end;

  @media (width <= 768px) {
    display: block;
  }
}
