@font-face {
  font-family: PP Mori;
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/mori/PPMori-Regular.woff2") format("woff2");
}
