.uiCard {
  padding: var(--space-md);
  display: flex;
}

.vertical {
  outline: 2px solid green;
  flex-direction: column;

  /* prominent */
  gap: 16px;
  border-radius: 16px;

  .image {
    * {
      border-radius: 16px;
    }
  }
}

.horizontal {
  outline: 2px solid blue;
  flex-direction: row;

  /* sublte */
  gap: 8px;
  border-radius: 8px;

  .image {
    * {
      border-radius: 8px;
    }
  }
}

.uiCardMedia {
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.image {
  * {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.media {
  * {
    width: 100%;
    height: 100%;
  }
}

.uiCardMediaWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  .verticalPadding {
    /* token: prominent */
    padding: 12px;
  }

  .horizontalPadding {
    /* token: subtle */
    padding: 8px;
  }
}

.uiCardMediaLayer {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  height: 100%;
}

.uiCardTextWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  /* no token, but guessing subtle */
  padding-left: 8px;
  padding-right: 8px;
  gap: 8px;
}

.ui-card-text-title {
  font-size: 2em;
  &:hover {
    text-decoration: underline;
  }
}

.active {
  background-color: rebeccapurple;
}

.inactive {
  background-color: skyblue;
}

.ui-card-text-body {
  line-height: 32px;
}
