@font-face {
  font-family: Lyon Display;
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/lyon/LyonDisplay-Regular-Web-2.woff2") format("woff2");
}
