.feature-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.feature-box-item {
  position: relative;
  display: flex;
  align-items: end;
  border-radius: 16px;
  padding: 1rem;
  aspect-ratio: 100/86;
  overflow: hidden;
}

.feature-box-item:hover {
  opacity: 0.9;
}

.feature-box-item-label {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  border-radius: 8px;
  padding: 0.5rem;
  background-color: var(--todo-kobber-primitives-color-aubergine-25);
  z-index: 10;
  overflow: hidden;
}

.feature-box-item-image {
  object-fit: cover;
  object-position: left;
}
