.kobber-typography-action-button {
  font-size: 1rem;
  text-decoration: none;
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  margin-bottom: 0px;
}
.kobber-typography-action-input-label {
  font-size: 1rem;
  text-decoration: none;
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  margin-bottom: 0px;
}
.kobber-typography-action-input-placeholder {
  font-size: 1rem;
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  margin-bottom: 0px;
}
.kobber-typography-action-input-disabled {
  font-size: 1rem;
  text-decoration: none;
  font-family: Inter;
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.2;
  margin-bottom: 0px;
}
.kobber-typography-action-disabled-placeholder {
  font-size: 1rem;
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.5;
  margin-bottom: 0px;
}
.kobber-typography-action-disabled-button {
  font-size: 1rem;
  text-decoration: none;
  font-family: Inter;
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.5;
  margin-bottom: 0px;
}
.kobber-typography-content-body {
  font-size: 1rem;
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  margin-bottom: 0px;
}
.kobber-typography-content-lead {
  font-size: 1.5rem;
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  margin-bottom: 0px;
}
.kobber-typography-content-caption {
  font-size: 0.875rem;
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  margin-bottom: 0px;
}
.kobber-typography-content-badge {
  font-size: 0.75rem;
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  margin-bottom: 0px;
}
.kobber-typography-heading-xxxl {
  font-size: 4rem;
  text-decoration: none;
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  margin-bottom: 0px;
}
.kobber-typography-heading-xxl {
  font-size: 3rem;
  text-decoration: none;
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  margin-bottom: 0px;
}
.kobber-typography-heading-xl {
  font-size: 2.5rem;
  text-decoration: none;
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  margin-bottom: 0px;
}
.kobber-typography-heading-l {
  font-size: 2rem;
  text-decoration: none;
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  margin-bottom: 0px;
}
.kobber-typography-heading-m {
  font-size: 1.5rem;
  text-decoration: none;
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  margin-bottom: 0px;
}
.kobber-typography-heading-s {
  font-size: 1.25rem;
  text-decoration: none;
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  margin-bottom: 0px;
}
.kobber-typography-heading-xs {
  font-size: 1rem;
  text-decoration: none;
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.16;
  line-height: 1.2;
  margin-bottom: 0px;
}
.kobber-typography-heading-xxs {
  font-size: 0.875rem;
  text-decoration: none;
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  margin-bottom: 0px;
}
.kobber-typography-heading-subheading {
  font-size: 0.875rem;
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.28;
  line-height: 1.2;
  margin-bottom: 0px;
}
.kobber-typography-tile-heading {
  font-size: 1.5rem;
  text-decoration: none;
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  margin-bottom: 0px;
}
.kobber-typography-tile-body {
  font-size: 1.25rem;
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  margin-bottom: 0px;
}
.kobber-typography-tile-subheader {
  font-size: 1rem;
  text-decoration: none;
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  margin-bottom: 0px;
}
.kobber-typography-list-listitem-header-default {
  font-size: 1rem;
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  margin-bottom: 0px;
}
.kobber-typography-list-listitem-header-selected {
  font-size: 1rem;
  text-decoration: none;
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  margin-bottom: 0px;
}
.kobber-typography-list-listitem-header-small {
  font-size: 0.875rem;
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 8.571428571428571;
  margin-bottom: 0px;
}
.kobber-typography-listitem-big-header-default {
  font-size: 1rem;
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  margin-bottom: 0px;
}
.kobber-typography-listitem-big-header-selected {
  font-size: 1rem;
  text-decoration: none;
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  margin-bottom: 0px;
}
.kobber-typography-section-input {
  font-size: 2rem;
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  margin-bottom: 0px;
}