.color-list-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  gap: 1rem;
}

.color-list-item-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.color-list-item-image {
  border: 1px solid var(--kobber-primitives-color-wine-150);
  border-radius: 1rem;
  aspect-ratio: 1 / 1;
}

.color-list-item-content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.75rem;
  --kobber-typography-ui-button-font-size: 0.75rem;
  white-space: nowrap;
  overflow: hidden;

  ul {
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
