---
import { Scene } from "@gyldendal/kobber-scene";
---

<h1>Scene</h1>

<!-- Workaround to prevent Astro from escaping attribute value -->
<!-- https://github.com/withastro/astro/issues/2095 -->
<Fragment
  set:html={`<kobber-scene data='${JSON.stringify({})}'></kobber-scene>`}
/>

<br />

<!-- Scripted Web component -->

<div id="web-component-container"></div>

<script>
  import { Scene } from "@gyldendal/kobber-scene";
  const scene = new Scene();
  document.querySelector("#web-component-container")?.appendChild(scene);
</script>
