<div class="container"></div>

<style>
  .container {
    height: 100%;
    margin-top: 52px;
    border-top: 2px solid #f5f2ee;
    border-left: 2px solid #f5f2ee;
    border-right: 2px solid #f5f2ee;
    background: #f5f2ee;
    border-radius: 32px 32px 0 0;
    margin: 40px 20px 0px 20px;
  }
</style>
