---
import { VscGithub } from "react-icons/vsc";
import { SiStorybook } from "react-icons/si";
import ThemeSelector from "../components/themeSelector/ThemeSelector.astro";
import * as typographyStyles from "@gyldendal/kobber-base/themes/default/typography.module.css";
---

<div class="container">
  <a
    href="https://main--652cf51e3a6479589be744b0.chromatic.com/"
    target="_blank"
    class={typographyStyles.actionButton}
  >
    <SiStorybook />
    Komponenter
  </a>

  <a
    href="https://github.com/GyldendalDigital/kobber"
    target="_blank"
    class={typographyStyles.actionButton}
  >
    <VscGithub />
    Github
  </a>

  <ThemeSelector />
</div>

<style>
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    height: 100%;
    justify-content: flex-end;
    padding: 0 16px;
  }

  a {
    display: flex;
    align-items: center;
    gap: 4px;
  }
</style>
