---
import "../styles/global.css";
import { ViewTransitions } from "astro:transitions";
import Header from "../layouts/Header.astro";
import Sidebar from "../layouts/Sidebar.astro";
import Main from "../layouts/Main.astro";
import Footer from "../layouts/Footer.astro";
---

<ViewTransitions />

<main>
  <div class="header">
    <Header />
  </div>
  <div class="sidebar">
    <Sidebar />
  </div>
  <div class="main">
    <Main><slot /></Main>
  </div>
  <div class="footer">
    <Footer />
  </div>
</main>

<style>
  .header {
    grid-area: header;
  }
  .main {
    grid-area: main;
  }
  .sidebar {
    width: 300px;
    grid-area: sidebar;
    min-height: calc(100vh - 300px);
    padding: 0 20px;
  }
  .footer {
    grid-area: footer;
  }
  main {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 50px auto 250px;
    grid-template-areas:
      "sidebar header header header"
      "sidebar main main main"
      "footer footer footer footer";
  }
</style>
