---
import Article from "../pages/Article.astro";
---

<div class="container">
  <slot />
</div>

<style>
  .container {
    max-width: calc(750px + 50px);
    margin: 0 auto;
    padding: 25px 50px;
  }
</style>
