<div class="container">
  <ul>
    <a href="/">
      <li>Kobber</li>
    </a>
  </ul>
  <div>
    <ul>
      <h3>Designprinsipper</h3>
      <a href="/artikkel/hva-er-kobber">
        <li>Stil og tone</li>
      </a>
      <a href="/artikkel/designprinsipper">
        <li>Hierarki og kolleksjoner</li>
      </a>
      <a href="/artikkel/hvordan-lage-komponenter">
        <li>Layout</li>
      </a>
    </ul>
  </div>
  <div>
    <ul>
      <h3>Komponenter</h3>
      <a href="/">
        <li>Knapper</li>
      </a>
      <a href="/">
        <li>Kort</li>
      </a>
      <a href="/">
        <li>Lister</li>
      </a>
    </ul>
  </div>
  <div>
    <ul>
      <h3>Info</h3>
      <a href="/artikler/info/hva-er-kobber">
        <li>Hva er Kobber?</li>
      </a>
      <a href="/hva-betyr-Kobber-for-meg">
        <li>Hva betyr Kobber for meg?</li>
      </a>
      <a href="/">
        <li>Hvem gjør hva</li>
      </a>
    </ul>
  </div>
</div>

<style></style>
