<div class="container">
  <ul>
    <a href="/">
      <li><h3>Kobber</h3></li>
    </a>
  </ul>

  <ul>
    <h3>Designprinsipper</h3>
    <div class="menu-items">
      <a href="/artikkel/hva-er-kobber">
        <li>Stil og tone</li>
      </a>
      <a href="/artikkel/designprinsipper">
        <li>Hierarki og kolleksjoner</li>
      </a>
      <a href="/artikkel/hvordan-lage-komponenter">
        <li>Layout</li>
      </a>
    </div>
  </ul>

  <ul>
    <h3>Komponenter</h3>
    <div class="menu-items">
      <a href="/">
        <li>Knapper</li>
      </a>
      <a href="/">
        <li>Kort</li>
      </a>
      <a href="/">
        <li>Lister</li>
      </a>
    </div>
  </ul>

  <ul>
    <h3>Info</h3>
    <div class="menu-items">
      <a href="/artikler/info/hva-er-kobber">
        <li>Hva er Kobber?</li>
      </a>
      <a href="/hva-betyr-Kobber-for-meg">
        <li>Hva betyr Kobber for meg?</li>
      </a>
      <a href="/">
        <li>Hvem gjør hva</li>
      </a>
    </div>
  </ul>
</div>

<style>
  .container {
    padding: 0 20px;
  }
  ol,
  ul {
    list-style: none;
    padding: 20px;
    background: #f5f2ee;
    border-radius: 16px;
  }

  ul li {
    padding: 2px 0;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  .category {
    /* border: 2px #f5f2ee solid; */
  }

  .menu-items {
    margin-top: 10px;
  }
</style>
