<div class="container">
  <ul>
    <a href="/artikkel/hva-er-kobber">
      <li>Hva er Kobber?</li>
    </a>
    <a href="/artikkel/designprinsipper">
      <li>Designprinsipper</li>
    </a>
    <a href="/artikkel/hvordan-lage-komponenter">
      <li>Hvordan lage komponenter i Figma</li>
    </a>
  </ul>
</div>

<style></style>
