.wrapper {
  position: sticky;
  top: var(--top-nav-height);
  height: calc(100vh - var(--top-nav-height));
  overflow: auto;
  border-color: #e5cfd3;
  --border: 1px solid #e5cfd3;

  @media (width <= 768px) {
    display: none;
  }
}

.inner-container {
  border-right: var(--border);
  padding: 0.5rem;
}

.group-divider {
  border-bottom: var(--border);
  padding-block: 0.5rem;
}

.list-divider {
  & > *:not(:last-child) {
    border-bottom: var(--border);
    padding-bottom: 0.5rem;
  }
}

.sub-list-spacing {
  padding-left: calc(2.5rem - 1rem);
}

.list-label {
  text-transform: lowercase;
  color: #dc134fff;
}
