.cardMediaLayer {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  height: 100%;
}

.vertical {
  * {
    /* token: prominent */
    border-radius: 12px;
  }
}

.horizontal {
  * {
    /* token: subtle */
    border-radius: 8px;
  }
}
