.cardTextWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  /*background-color: var(--kobber-groups-cards-and-modules-color-aubergine-25);*/

  /* no token, but guessing subtle */
  padding-left: 8px;
  padding-right: 8px;
  gap: 8px;
}
