.cardMedia {
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.image {
  * {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.media {
  * {
    width: 100%;
    height: 100%;
  }
}

.vertical {
  * {
    /* token: prominent */
    border-radius: 12px;
  }
}

.horizontal {
  * {
    /* token: subtle */
    border-radius: 8px;
  }
}
