.fontExampleRow {
  display: flex;
  margin-bottom: var(--kobber-primitives-size-32);
  gap: var(--kobber-primitives-size-32);
}

.box {
  border-radius: var(--kobber-primitives-size-16);
  padding: var(--kobber-primitives-size-32);
  background-color: var(--kobber-primitives-color-white);
  color: var(--kobber-primitives-color-black);

  & > *:last-child,
  & p:last-child {
    margin-bottom: 0;
  }
}

.tdWithFormatting {
  padding-block: var(--kobber-primitives-size-32);
  text-transform: capitalize;
}
