.page {}

.content {
    padding: calc((var(--kobber-primitives-size-40) + var(--kobber-primitives-size-32)) * 1px) calc(var(--kobber-primitives-size-32) * 1px);
    color: var(--kobber-semantic-color-surface-page-foreground);
    background-color: var(--kobber-semantic-color-surface-page-background);
}
