.content {
  padding: calc(
      var(--kobber-primitives-size-40) + var(--kobber-primitives-size-32)
    )
    var(--kobber-primitives-size-32);
  color: var(--kobber-semantic-color-surface-page-foreground);
  background-color: var(--kobber-semantic-color-surface-page-background);
}
