---
const currentPath = new URL(Astro.request.url).pathname;
---

<div class="container">
  <ul>
    <a href="/">
      <li><h3>Kobber</h3></li>
    </a>
  </ul>

  <ul>
    <h3>Designprinsipper</h3>
    <div class="menu-items">
      <a href="/artikkel/hva-er-kobber">
        <li>Stil og tone</li>
      </a>
      <a href="/artikkel/designprinsipper">
        <li>Hierarki og kolleksjoner</li>
      </a>
      <a href="/artikkel/hvordan-lage-komponenter">
        <li>Layout</li>
      </a>
    </div>
  </ul>

  <ul>
    <h3>Komponenter</h3>
    <div class="menu-items">
      <a href="/">
        <li>Knapper</li>
      </a>
      <a href="/">
        <li>Kort</li>
      </a>
      <a href="/">
        <li>Lister</li>
      </a>
    </div>
  </ul>

  <ul>
    <h3>Info</h3>
    <div class="menu-items">
      <a
        class={currentPath === "/artikler/info/hva-er-kobber" ? "active" : ""}
        href="/artikler/info/hva-er-kobber"
      >
        <li>Hva er Kobber?</li>
      </a>
      <a
        class={currentPath === "/artikler/info/hva-betyr-kobber-for-meg"
          ? "active"
          : ""}
        href="/artikler/info/hva-betyr-kobber-for-meg"
      >
        <li>Hva betyr Kobber for meg?</li>
      </a>
      <a
        class={currentPath === "/artikler/info/team/" ? "active" : ""}
        href="/artikler/info/team/"
      >
        <li>Team</li>
      </a>
    </div>
  </ul>

  <ul class="design-menu">
    <h3>Bruk for designere</h3>
    <div class="menu-items">
      <a
        class={currentPath === "/artikler/design/arbeidsflyt-og-eierskap"
          ? "active"
          : ""}
        href="/artikler/design/arbeidsflyt-og-eierskap"
      >
        <li>Arbeidsflyt og eierskap</li>
      </a>
    </div>
  </ul>

  <ul class="dev-menu">
    <h3>Bruk for utviklere</h3>
    <div class="menu-items">
      <a
        class={currentPath === "/artikler/utvikling/kom-i-gang" ? "active" : ""}
        href="/artikler/utvikling/kom-i-gang"
      >
        <li>Kom i gang og oppsett</li>
      </a>
    </div>
  </ul>
</div>

<style>
  .container {
    padding: 0 20px;
  }
  ol,
  ul {
    list-style: none;
    padding: 20px;
    background: #f5f2ee;
    border-radius: 16px;
  }

  .design-menu {
    background: none;
    border: 2px solid #ffe3ad;
  }
  .dev-menu {
    background: none;
    border: 2px solid #25292d;
  }

  ul li {
    padding: 2px 0;
  }

  a {
    font-weight: 400;
  }
  a.active {
    font-weight: 600;
    text-indent: 2px;
  }

  h3 {
    font-weight: 600;
    font-size: 16px;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  .category {
    /* border: 2px #f5f2ee solid; */
  }

  .menu-items {
    margin-top: 10px;
  }
</style>
