* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kobber-theme-default,
.kobber-theme-dark {
  display: block;
  color: var(--kobber-component-body-text-color-base);
  background-color: var(--kobber-regional-navigation-color-brightest);
  font-family:
    PP Mori,
    sans-serif;
}

p {
  margin: 0;
  font-size: inherit;
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  line-height: inherit;
}
