/* stylelint-disable selector-max-type */
.tableContainer {
  container-type: inline-size;
  container-name: tablecontainer;
}

.table {
  width: 100%;
  max-width: var(--kobber-primitives-size-1024);
  border-spacing: 0 var(--kobber-primitives-size-16);
}

.table th,
.table td {
  padding-inline: var(--kobber-primitives-size-16);
  color: var(--kobber-primitives-color-black);
}

.table th {
  vertical-align: top;
  text-align: left;

  &:first-child {
    padding-left: var(--kobber-primitives-size-32);
  }
}

.table td {
  padding-block: var(--kobber-primitives-size-32);
  background-color: var(--kobber-primitives-color-white);
}

.table td:first-child {
  border-radius: var(--kobber-primitives-border-radius-16) 0 0
    var(--kobber-primitives-border-radius-16);
  padding-left: var(--kobber-primitives-size-32);
}

.table td:last-child {
  border-radius: 0 var(--kobber-primitives-border-radius-16)
    var(--kobber-primitives-border-radius-16) 0;
  padding-right: var(--kobber-primitives-size-32);
}

.responsiveLabel {
  display: none;
  /* stylelint-disable-next-line property-no-unknown */
  composes: headingxs from "@gyldendal/kobber-base/themes/default/typography.module.css";
}

@container tableContainer (max-width: 960px) {
  .table {
    display: block;

    & thead,
    & th {
      display: none;
    }

    & tbody,
    & tr,
    & td {
      display: block;
    }

    & tr {
      margin-bottom: var(--kobber-primitives-size-16);
    }

    & td {
      padding-block: var(--kobber-primitives-size-8);
    }

    & td:first-child {
      border-radius: var(--kobber-primitives-border-radius-16)
        var(--kobber-primitives-border-radius-16) 0 0;
      padding-top: var(--kobber-primitives-size-32);
      padding-left: var(--kobber-primitives-size-16);
    }

    & td:last-child {
      border-radius: 0 0 var(--kobber-primitives-border-radius-16)
        var(--kobber-primitives-border-radius-16);
      padding-bottom: var(--kobber-primitives-size-32);
    }

    .responsiveLabel {
      display: inline-block;
      padding-right: 0.25em;
    }
  }
}

.tdWide {
  width: 100%;
}

.tdNoWrap {
  white-space: nowrap;
}
