@import url("@gyldendal/kobber-base/themes/default/tokens.css");

@layer guds {
  .list {
    --progress-bar-height: var(--kobber-component-progressbar-size-default);
    --progress-bar-border-radius: var(--kobber-component-progressbar-border-radius);
    position: relative;
    display: flex;
    border-radius: var(--progress-bar-border-radius);

    /* Necessary to stretch its container */
    padding: 0;
    height: var(--progress-bar-height);
    width: var(--progress-bar-width, 100%);
    list-style: none;
    background-color: var(
      --progress-bar-background-color,
      var(--kobber-component-progressbar-color-background-default)
    );
  }

  .low {
    --progress-bar-height: var(--kobber-component-progressbar-size-small);
  }

  .show-full-length {
    justify-content: space-between;
  }
}
