.navbar-small-screen-menu {
}

.navbar-small-screen-menu-trigger {
  z-index: 1000;
}

.navbar-small-screen-menu-overlay {
  --navbar-height: calc(
    2 * var(--kobber-component-wiki-navbar-container-padding-block) +
      var(--kobber-component-button-container-size-height)
  );

  position: absolute;
  inset: 0;
  top: var(--navbar-height);
  
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-inline: var(--kobber-layout-gap-16-32);
  background-color: var(--kobber-component-wiki-navbar-background-color-main);
  z-index: 900;
  overflow: hidden;
}

.navbar-small-screen-menu-overlay-link-list-outer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.navbar-small-screen-menu-overlay-link-list-inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
