name: Kobber docs

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy_docs_job:
    name: Deploy kobber.gyldendal.no
    runs-on: ubuntu-latest
    environment:
      name: kobber.gyldendal.no
      url: https://kobber.gyldendal.no
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install
        run: corepack enable && yarn

      - name: Build components
        run: yarn build -F @gyldendal/kobber-components

      - name: Add docs secrets to .env
        run: |
          touch ./apps/docs/.env
          echo NEXTAUTH_SECRET=${{ secrets.NEXTAUTH_SECRET }} >> ./apps/docs/.env
          echo NEXTAUTH_URL=${{ vars.NEXTAUTH_URL }} >> ./apps/docs/.env
          echo ISSUER_URL=${{ secrets.ISSUER_URL }} >> ./apps/docs/.env
          echo AUTH_MICROSOFT_ENTRA_ID_ID=${{ secrets.AUTH_MICROSOFT_ENTRA_ID_ID }} >> ./apps/docs/.env
          echo AUTH_MICROSOFT_ENTRA_ID_SECRET=${{ secrets.AUTH_MICROSOFT_ENTRA_ID_SECRET }} >> ./apps/docs/.env
          echo AUTH_MICROSOFT_ENTRA_ID_ISSUER=${{ secrets.AUTH_MICROSOFT_ENTRA_ID_ISSUER }} >> ./apps/docs/.env
          echo NEXT_PUBLIC_SANITY_PROJECT_ID=${{ vars.NEXT_PUBLIC_SANITY_PROJECT_ID }} >> ./apps/docs/.env
          echo NEXT_PUBLIC_SANITY_DATASET=${{ vars.NEXT_PUBLIC_SANITY_DATASET }} >> ./apps/docs/.env

      - name: Build and deploy docs
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        env:
          TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
          TURBO_TEAM: ${{ vars.TURBO_TEAM }}
          # root is based on app_location
          PRE_BUILD_COMMAND: corepack enable && yarn
          CUSTOM_BUILD_COMMAND: yarn build && cp -r .next/standalone/apps/docs/. .next/standalone
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_POLITE_WATER_07EC3FF03 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} # Used for Github integrations (i.e. PR comments)
          action: "upload"
          ###### Repository/Build Configurations - These values can be configured to match your app requirements. ######
          # For more information regarding Static Web App workflow configurations, please visit: https://aka.ms/swaworkflowconfig
          app_location: "apps/docs" # App source code path
          api_location: "" # Api source code path - optional
          output_location: "" # Built app content directory - optional
          # skip_app_build: true
          # skip_api_build: true
          ###### End of Repository/Build Configurations ######
