name: Code assurance

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main

jobs:
  run_tests_job:
    if: github.event_name == 'pull_request' && github.event.action != 'closed'
    name: Build and perform tests
    runs-on: ubuntu-latest
    environment:
      name: kobber.gyldendal.no
      url: https://kobber.gyldendal.no
    env:
      repo_token: ${{ secrets.GITHUB_TOKEN }} # Used for Github integrations (i.e. PR comments)
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup install
        run: corepack enable

      - name: Install
        run: yarn

      - name: Add secrets to .env
        run: |
          touch ./apps/docs/.env
          echo NEXT_PUBLIC_SANITY_PROJECT_ID=${{ vars.NEXT_PUBLIC_SANITY_PROJECT_ID }} >> ./apps/docs/.env
          echo NEXT_PUBLIC_SANITY_DATASET=${{ vars.NEXT_PUBLIC_SANITY_DATASET }} >> ./apps/docs/.env
          echo SANITY_API_READ_TOKEN=${{ secrets.SANITY_API_READ_TOKEN }} >> ./apps/docs/.env

      - name: Build
        run: yarn build --filter=./packages/*

      - name: Lint
        run: yarn lint

      # - name: Setup test
      #   run: npx playwright install --with-deps chromium

      # - name: Test
      #   run: yarn test
