name: PR close

on:
  pull_request:
    types: [closed]
    branches:
      - main

jobs:
  close_pull_request_job:
    runs-on: ubuntu-latest
    name: Remove storybook preview env
    steps:
      - name: Remove storybook preview env
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_LIVELY_HILL_0A499D503 }}
          action: "close"
