.table {
    width: 100%;
    max-width: var(--kobber-primitives-size-1024);
    border-spacing: 0;
}

.td {
    border-top: 1px solid var(--kobber-primitives-color-gray-300);
    padding: var(--kobber-primitives-size-24);
    width: 100%;
    max-width: var(--kobber-primitives-size-1024);
    border-spacing: 0;
    
    &:first-child {
      padding-left: var(--kobber-primitives-size-32);
    }
}

.tdNoTextBreak {
    white-space: nowrap;
    word-break: keep-all;
}
